$purple-blue: #6C63FF;
$purple-dark: #1E015B;
$purple-gray: #7D78A3;
$purple-gray-light: #A29CBB;
$gray-light: #EFEFEF;
$white-off: #FAFBFF;
$green: #C9FFC8;
$yellow: #FFFEC8;
$pink-light: #FFE3E9;
$pink: #EA5092;