
@use '../../styles/_variables' as vars;

.home {
  padding: 3.2rem 2rem;

  // Combined Styles
  &__login-btn,
  &__signup-btn,
  &__create-btn,
  &__view-btn {
    width: 85%;
    max-width: 32rem;
    margin: auto;
    display: block;
    border: none;
    border-radius: .4rem;
    font-size: 2rem;
    font-weight: 500;
    padding: .6em 1em;
    text-align: center;
    color: vars.$white-off;
    cursor: pointer;
  }

  &__login-btn,
  &__create-btn {
    margin-bottom: clamp(1.2rem, 3.2vw, 1.6rem);
    background-color: vars.$purple-blue;
  }

  &__signup-btn,
  &__view-btn {
    background-color: vars.$purple-dark;
  }

  // Individual Styles

  &__container {
    max-width: 1200px;
    margin: auto;
  }

  &__img-wrapper {
    margin-bottom: clamp(3.2rem, 8.5vw, 3.6rem);
  }

  &__graph-img {
    display: block;
    margin: auto;
    width: 85%;
    max-width: 36rem;
  }

  &__text-content {
    margin: 0 auto 3.6rem;
    text-align: center;
  }

  &__heading {
    font-size: clamp(3.6rem, 9.9vw, 4rem);
    margin-bottom: .8rem;
    font-weight: 400;

    &-alt-color {
      color: vars.$purple-blue;
    }
  }

  &__description {
    font-size: 1.6rem;
    font-weight: 300;
    color: vars.$purple-gray;
    max-width: 52.5rem;
    margin: auto;
  }
}

@media screen and (min-width: 1024px) {
  .home {
    padding: 12rem clamp(3.6rem, 3.5vw, 6.4rem) 6.4rem;

    // Combined Styles
    &__login-btn,
    &__signup-btn,
    &__create-btn,
    &__view-btn {
      margin-left: 0;
    }

    // Individual Styles
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__img-wrapper {
      order: 2;
      margin-bottom: 0;
    }

    &__graph-img {
      margin: 0;
      width: 100%;
      max-width: clamp(45rem, 44vw, 52rem);
    }

    &__text-content {
      text-align: left;
    }

    &__heading {
      font-size: clamp(5.6rem, 5.5vw, 7.2rem);
    }

    &__description {
      max-width: 47.5rem;
    }
  }
}