
@use '../../styles/_variables' as vars;


.topnav{
  padding: 2rem;
  background-color: vars.$white-off;
  position: relative;

  // Combined Styles
  &__brand-icon,
  &__burger-icon {
    height: 2.8rem;
    pointer-events: none;
  }

  // Individual Styles
  &__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__brand {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
  }

  &__brand-icon {
    margin-right: 1.2rem;
  }

  &__burger-btn {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.topnav-list {
  background-color: vars.$white-off;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  transition:
    max-height 300ms ease-in-out,
    padding 300ms ease-in-out,
    border-bottom 300ms ease-in-out;

  &__item {
    padding: .5rem;
  }

  &__link {
    display: block;
    padding: 1.6rem 1.5rem;
    font-size: 2rem;
    color: vars.$purple-gray;
  }
}

@media screen and (min-width: 1024px) {
  .topnav {

    &__container {
      justify-content: flex-start;
      gap: 6.4rem;
    }

    &__burger-btn {
      display: none;
    }
  }

  .topnav-list {
    position: relative;
    display: flex;
    width: fit-content;

    &__link {
      padding: 0rem 1.5rem;
    }
  }
}